interactions:
  - request:
      body: ""
      headers:
      method: GET
      uri: http://intranet.ifs.edu.br/publicacoes/relat/certificado_participacao_process.wsp?tmp.id_edicao=2011&tmp.id_programa=1850&tmp.tx_cpf=74839210055
    response:
      body:
        string:
          "<!--\r\n/*\r\n * WEBINSIDE - Ferramenta de produtividade Java\r\n *
          Copyright (c) 2011-2012 LINEWEB Solues Tecnolgicas Ltda.\r\n * Copyright (c)
          2009-2010 Incgnita Inteligncia Digital Ltda.\r\n *\r\n * Este programa  software
          livre; voc pode redistribu-lo e/ou modific-lo \r\n * sob os termos da GNU
          LESSER GENERAL PUBLIC LICENSE (LGPL) conforme publicada \r\n * pela Free Software
          Foundation; verso 2.1 da Licena.\r\n * Este programa  distribudo na expectativa
          de que seja til, porm, SEM \r\n * NENHUMA GARANTIA; nem mesmo a garantia implcita
          de COMERCIABILIDADE OU \r\n * ADEQUAO A UMA FINALIDADE ESPECFICA.\r\n * \r\n
          * Consulte a GNU LGPL para mais detalhes.\r\n * Voc deve ter recebido uma
          cpia da GNU LGPL junto com este programa; se no, \r\n * veja em http://www.gnu.org/licenses/
          \r\n */\r\n-->\r\n\r\n<html>\r\n<head>\r\n<title>Pgina relat/certificado_participacao_process</title>\r\n<script>\r\nfunction
          stopInterval() {\r\n  if (frames[1].stopInterval)\r\n    frames[1].stopInterval();\r\n}\r\n</script>\r\n</head>\r\n<FRAMESET
          rows=\"*,17\" border=\"0\" onload=\"stopInterval()\">\r\n  <FRAME src=\"/publicacoes/ReportConnector.wsp?tmp.reportShow=true\"
          />\r\n  <FRAME src=\"/publicacoes/loading.html\" scrolling=\"no\" />\r\n</FRAMESET>\r\n</html>"
      headers:
        Content-Type:
          - text/html;charset=ISO-8859-1
      status:
        code: 200
        message: OK
  - request:
      body: ""
      headers:
      method: GET
      uri: http://intranet.ifs.edu.br/publicacoes/ReportConnector.wsp?tmp.reportShow=true
    response:
      body:
        string:
          "%PDF-1.4\n%\n3 0 obj <</ColorSpace/DeviceRGB/Subtype/Image/Height 1335/Filter/FlateDecode/Type/XObject/DecodeParms<</Columns
          1889/Colors 3/Predictor 15/BitsPerComponent 8>>/Width 1889/Length 1111139/BitsPerComponent
          8>>stream\nx^iw\u0215\t93'Lujf9SVfDpq:\\#H)Iq\u0248UU*|{`/\0[...]
